body {
	font: 13px/1.5 sans-serif;
}

div#main-container {
	margin: 0 auto;
	width: 1080px;
}

div#intro-box {
	padding: 0.5em 1em;
	vertical-align: middle;
	text-align: center;
	font-size: 150%;
}

div#intro {
	text-align: justify;
	vertical-align: top;
	width: 90%;
	margin: 0, auto;
}

div#text-right {
	font-weight: bold;
	text-align: right;
}


section {
	width: 100%;
	display: block;
}

div.wikipages {
	display: inline-block;
	width: 24%;
	
}

div#footer {
	border-top: 1px solid #AAAAAA;
	text-align: center;
}

div#footer ul {
	display: inline;
}